*.iml
.gradle/
.kotlin/
.vscode/
local.properties
key.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
!/apk/*.apk
app/build/
app/release/
!/deploy/*.apk
/deploy/*.keystore
key.properties
